---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unifi-poller
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      unifi-poller:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.21.0@sha256:a08b532be181256318211b6170691e316d29ac04575bc54d59620189953f03aa
            env:
              TZ: Europe/London
              UP_UNIFI_DEFAULT_ROLE: home-ops
              UP_UNIFI_DEFAULT_URL: https://192.168.1.1
              UP_UNIFI_DEFAULT_VERIFY_SSL: false
              UP_UNIFI_DEFAULT_USER:
                valueFrom:
                  secretKeyRef:
                    name: unifi-poller-secret
                    key: username
              UP_UNIFI_DEFAULT_PASS:
                valueFrom:
                  secretKeyRef:
                    name: unifi-poller-secret
                    key: password
              UP_UNIFI_DEFAULT_SAVE_SITES: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_INFLUXDB_DISABLE: true
              UP_PROMETHEUS_DISABLE: false
              UP_PROMETHEUS_NAMESPACE: unifipoller
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: unifi-poller
        ports:
          http:
            port: 9130
    serviceMonitor:
      app:
        serviceName: unifi-poller
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m
            scrapeTimeout: 30s
