---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: grafana-dashboard-tuppr
    files:
      - dashboards/tuppr.json
generatorOptions:
  disableNameSuffixHash: true
  labels:
    grafana_dashboard: "1"
