---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.2.1
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    global:
      envFrom:
        - secretRef:
            name: authentik-secret
    authentik:
      log_level: info
      error_reporting:
        enabled: false
    server:
      ingress:
        enabled: true
        ingressClassName: internal
        hosts:
          - &host "auth.${SECRET_DOMAIN}"
        tls:
          - hosts:
              - *host
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1Gi
    worker:
      resources:
        requests:
          cpu: 50m
          memory: 512Mi
        limits:
          memory: 1Gi
    postgresql:
      enabled: true
      global:
        defaultStorageClass: openebs-hostpath
      primary:
        persistence:
          enabled: true
          size: 2Gi
    redis:
      enabled: true
      global:
        defaultStorageClass: openebs-hostpath
      master:
        persistence:
          enabled: true
          size: 1Gi
