---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-unifi-secret
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: infisical
    kind: ClusterSecretStore
  target:
    name: external-dns-unifi-secret
    creationPolicy: Owner
  data:
    - secretKey: API_KEY
      remoteRef:
        key: /external-dns-unifi/API_KEY
