---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  chart:
    spec:
      chart: loki
      version: 6.51.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    deploymentMode: SingleBinary
    loki:
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      storage:
        type: filesystem
      schemaConfig:
        configs:
          - from: "2024-01-01"
            store: tsdb
            object_store: filesystem
            schema: v13
            index:
              prefix: loki_index_
              period: 24h
      ingester:
        chunk_encoding: snappy
      querier:
        max_concurrent: 4
      limits_config:
        volume_enabled: true
        retention_period: 744h  # 31 days
    singleBinary:
      replicas: 1
      persistence:
        enabled: true
        storageClass: openebs-hostpath
        size: 10Gi
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 100m
          memory: 256Mi
    backend:
      replicas: 0
    read:
      replicas: 0
    write:
      replicas: 0
    monitoring:
      serviceMonitor:
        enabled: true
      selfMonitoring:
        enabled: false
        grafanaAgent:
          installOperator: false
      lokiCanary:
        enabled: false
    gateway:
      enabled: true
      replicas: 1
      resources:
        limits:
          memory: 128Mi
        requests:
          cpu: 50m
          memory: 64Mi
    test:
      enabled: false
