---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard
spec:
  interval: 1h
  chart:
    spec:
      chart: app-template
      version: 4.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      adguard:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.71
            env:
              TZ: Europe/London
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0
    service:
      app:
        controller: adguard
        ports:
          http:
            port: 3000
      dns:
        controller: adguard
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "192.168.1.23"
        externalTrafficPolicy: Cluster
        ports:
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP
    ingress:
      app:
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: adguard-home
          gethomepage.dev/name: AdGuard Home
          gethomepage.dev/group: Network
          gethomepage.dev/widget.type: adguard
          gethomepage.dev/widget.url: http://adguard-app.network.svc.cluster.local:3000
          gethomepage.dev/widget.username: '{{ "{{HOMEPAGE_VAR_ADGUARD_USERNAME}}" }}'
          gethomepage.dev/widget.password: '{{ "{{HOMEPAGE_VAR_ADGUARD_PASSWORD}}" }}'
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - host: &host "adguard.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
            secretName: adguard-tls
    persistence:
      config:
        existingClaim: adguard-config
        globalMounts:
          - path: /opt/adguardhome/conf
      data:
        existingClaim: adguard-data
        globalMounts:
          - path: /opt/adguardhome/work

