---
apiVersion: traefik.io/v1alpha1
kind: ServersTransport
metadata:
  name: unifi-transport
spec:
  insecureSkipVerify: true
---
apiVersion: v1
kind: Service
metadata:
  name: unifi
  annotations:
    external-dns.alpha.kubernetes.io/exclude: "true"
spec:
  type: ExternalName
  externalName: 192.168.1.1
  ports:
    - name: https
      port: 443
      targetPort: 443
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: unifi
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`unifi.${SECRET_DOMAIN}`)
      kind: Rule
      services:
        - name: unifi
          port: 443
          scheme: https
          serversTransport: unifi-transport
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi
spec:
  ingressClassName: internal
  rules:
    - host: "unifi.${SECRET_DOMAIN}"

