---
apiVersion: v1
kind: Service
metadata:
  name: unifi
  annotations:
    external-dns.alpha.kubernetes.io/exclude: "true"
spec:
  type: ExternalName
  externalName: 192.168.1.1
  ports:
    - name: https
      port: 443
      targetPort: 443
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unifi
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/proxy-ssl-verify: "off"
spec:
  ingressClassName: internal
  rules:
    - host: unifi.${SECRET_DOMAIN}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: unifi
                port:
                  number: 443
  tls:
    - hosts:
        - unifi.${SECRET_DOMAIN}
      secretName: unifi-tls

